<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ArchitectureTree Demo</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/tree.css"/>
</head>
<body>
<div class="container-fluid">
    <div ng-app="ChartsApp">

        <h1 class="text-center">Policy Landscape 3</h1>

        <panel-filter></panel-filter>

        <div ng-controller="chartCtrl">
            <tree-chart data="data" diameter="960"></tree-chart>
        </div>

        <div ng-controller="panelCtrl">
            <div id="panel">
                <div ng-if="!edit && selectedNode">
                    <panel-detail data-selected-node="selectedNode"></panel-detail>
                </div>

                <div ng-if="edit && selectedNode">
                    <panel-edit data-selected-node="selectedNode"></panel-edit>
                </div>
            </div>
        </div>

        <div ng-controller="undoCtrl">
            <div ng-if="hasHistory()" class="json-upate-label bg-success">Updated JSON <a ng-click="undo()">(undo)</a>
            </div>
        </div>
        <div ng-controller="jsonDataCtrl">
            <textarea id="json-data" class="form-control" ng-model="data" ng-blur="updateData()"></textarea>
        </div>
    </div>
</div>
<script type="application/javascript" src="js/vendor/d3.v3.js"></script>
<script type="application/javascript" src="js/d3.architectureTree.js"></script>
<script type="application/javascript" src="js/architecture_tree/bundle.js"></script>
<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
</script>
</body>
</html>
